@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h2>Hugo A. Araujo</h2>
<h3>+58-265-6320281</h3>
<h3>Skype:hugoaraujor</h3>

<p>Use this area to provide additional information.</p>

<address>
    <strong>My Email:</strong>   <a href="mailto:hugoaraujo@hotmail.com">hugoaraujo@hotmail.com</a><br />
    
</address>